@keyframes AnimationName { 
    0%{background-position:0% 20%}
    50%{background-position:100% 81%}
    100%{background-position:0% 20%}
}
#app4{
    width:100%;
    height:2136px;
/*    background-color: #ffbdbd;*/
    position: absolute;
    left: 0px;
    top: 0px;
/*    margin-top:  7263px;*/
    align-items: center;
    display: flex;
    flex-direction: column;
}
#rabbitear4{
    width:100%;
    height:40px;
}
#menu4{
    width:100%;
    height: 180px;
/*    background-color: azure;*/
    align-items: center;
    display: flex;
}
#back4{
    width: 30%;
    height:160px;
    align-items: center;
    justify-content: center;
    display: flex;
/*    background-color: #d49aff;*/
    margin-left: 30px;
}
#back4 p{
    font-family: JBC;
    font-size: 55pt;
    color: #00AEEF;
}
#back4 img{
    width: 50px;
    height: 50px;
    margin-left: 30px;
}
#backtokalorie4{
    width:15%;
    height: 200px;
/*    background-color: bisque;*/
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 460px;
}
#backtokalorie4 img{
    width: 80px;
    height: 230px;
}
#questiontitle4{
    width:100%;
    height: 15%;
/*    background-color: rgba(255, 228, 196, 0.67);*/
    display:flex;
    align-items: center;
    justify-content: center;
}
#questiontitle4 p{
    font-family: JB;
    font-size: 70pt;
    text-align: center;
}
#optionholder4{
    width:100%;
    height: 1500px;
/*    background-color: antiquewhite;*/
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
#optionbox14, #optionbox24, #optionbox34, #optionbox44{
    width: 675px;
    height: 20%;
    background-color: white;
    margin: 35px;
    border-radius:90px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#optionbox14{
/*    background-color: aquamarine;*/
/*    background: linear-gradient(150deg, rgb(181, 253, 0), rgb(49, 209, 0));*/
    animation: AnimationName 5s ease infinite;
    background-size: 800% 200%;
    border-color: RGB(49, 209, 0);
    border-width: thick;
    border-style: solid;
}
#optionbox24{
/*    background-color: aquamarine;*/
/*    background: linear-gradient(150deg, rgb(255, 195, 126), rgb(255, 194, 0));*/
    animation: AnimationName 5s ease infinite;
    background-size: 200% 800%;
    border-color: rgb(255, 220, 0);
    border-width: thick;
    border-style:solid;
}
#optionbox34{
/*    background-color: aquamarine;*/
/*    background: linear-gradient(150deg, rgb(255, 63, 218), rgb(228, 33, 49));*/
    animation: AnimationName 5s ease infinite;
    background-size: 200% 800%;
    border-color: RGB(228, 8, 38);
    border-width: thick;
    border-style:solid;
}
#optionbox44{
/*    background-color: aquamarine;*/
/*    background: linear-gradient(150deg, rgb(170, 13, 230), rgb(72, 51, 255));*/
    animation: AnimationName 5s ease infinite;
    background-size: 800% 200%;
    border-color: RGB(75, 56, 255);
    border-width: thick;
    border-style: solid;
}
#activityicon{
    flex: 2;
/*    background-color: #00AEEF;*/
    display: flex;
    margin-left: 60px
}
#activityicon img{
width: 100%;
height: 200px;
}
#description{
    flex:5;
/*    background-color: bisque;*/
}
#description p{
    font-family: JBC;
    font-size: 50pt;
    text-align: center;
}
