@keyframes AnimationName { 
    0%{background-position:0% 20%}
    50%{background-position:100% 81%}
    100%{background-position:0% 20%}
}
#app6{
    width:100vw;
    height:160vh;
/*    position: absolute;*/
/*    background-color: #d7dbfa;*/
    left:0px;
    top:0px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#rabbitear6{
    width:100%;
    height:40px;
}
#menu6{
    width:100%;
    height: 180px;
/*    background-color: azure;*/
    align-items: center;
    display: flex;
}
#back6{
    width: 30%;
    height:160px;
    align-items: center;
    justify-content: center;
    display: flex;
/*    background-color: #d49aff;*/
/*    margin-left: 30px;*/
}
#back6 p{
    font-family: JBC;
    font-size: 55pt;
    color: #00AEEF;
}
#back6 img{
    width: 50px;
    height: 50px;
    margin-left: 30px;
}
#backtokalorie6{
    width:15%;
    height: 200px;
/*    background-color: bisque;*/
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 500px;
}
#backtokalorie6 img{
    width: 80px;
    height: 230px;
}
#questiontitle6{
    width:100%;
    height: 15%;
/*    background-color: rgba(255, 228, 196, 0.67);*/
    display:flex;
    align-items: center;
    justify-content: center;
}
#questiontitle6 p{
    font-family: JB;
    font-size: 70pt;
    text-align: center;
}
#caption6{
    
}
#caption6 p{
    font-family: JBC;
    font-size: 40pt;
    text-align: center;
}
#optionholder6{
    width:100%;
    height: 1500px;
/*    background-color: antiquewhite;*/
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}
#optionbox16, #optionbox26, #optionbox36 {
    width: 675px;
    height: 23%;
    background-color: white;
    margin: 40px;
    border-radius:90px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#optionbox16, #optionbox26, #optionbox36{
    border-color: rgb(180, 180, 180);
    border-width: thick;
    border-style:solid;
}
#activityicon{
    flex: 2;
/*    background-color: #00AEEF;*/
    display: flex;
    margin-left: 60px
}
#activityicon img{
width: 100%;
}
#description{
    flex:5;
/*    background-color: bisque;*/
}
#description p{
    font-family: JBC;
    font-size: 50pt;
    text-align: center;
}
#targetholder6{
    width: 100vw;
    height: 900px;
/*    background-color: antiquewhite;*/
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#optionbox46, #optionbox56{
    width: 675px;
    height: 35%;
    background-color: white;
    margin: 40px;
    border-radius:90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-color: rgb(180, 180, 180);
    border-width: thick;
    border-style:solid;
}
 #optionbox56 img{
    margin-left: -40px;
}
#optionbox46 img{
    margin-left: -20px;
    width: 80%;
}
#optionbox56 {
    color:#8F00F3;
    background: linear-gradient(127deg, rgb(251, 226, 255), #FDEAFF);
    animation: AnimationName 5s ease infinite;
    background-size: 800% 800%;
    border-color: 8F00F3;
    border-width: thick;
    border-style:solid;
    
}
#optionbox46 {
   color: 00B39C;
    background: linear-gradient(127deg, rgb(205, 255, 238), #E5FFFB);
    animation: AnimationName 5s ease infinite;
    background-size: 800% 800%;
    border-color: 00B39C;
    border-width: thick;
    border-style:solid;
}
