@keyframes AnimationName { 
    0%{background-position:0% 20%}
    50%{background-position:100% 81%}
    100%{background-position:0% 20%}
}
#appr{
    position: absolute;
    top: 0px;
    left: 0px;
    align-items: center;
/*    justify-content: center;*/
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 120vh;
    background: linear-gradient(150deg, #29FFA2, #80BFC9, #29FFA2, #80BFC9);
    animation: AnimationName 10s ease infinite;
    background-size: 800% 800%;
}
#menu6{
    width:100%;
    height: 180px;
/*background-color: azure;*/
    align-items: center;
    display: flex;
    margin-top: 20px;
}
#back6{
    width: 30%;
    height:160px;
    align-items: center;
    justify-content: center;
    display: flex;
/*background-color: #d49aff;*/
/*margin-left: 30px;*/
}
#back6 p{
    font-family: JBC;
    font-size: 45pt;
    color: white;
}
#back6 img{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}
#backtokalorie6{
    width:15%;
    height: 200px;
/*background-color: bisque;*/
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 550px;
}
#backtokalorie6 img{
    width: 60px;
    height: 210px;
}
#recipes p{
    font-family: JB;
    font-size: 80pt;
    color: white;
}
#optionholderr{
    width: 90%;
    height: 100vh;
/*    background-color: wheat;*/
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#optionbox16, #optionbox26, #optionbox36, #optionbox46{
    width: 80%;
    height: 23%;
    background-color: white;
    margin: 40px;
    border-radius:90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-color: rgb(180, 180, 180);
    border-width: thick;
    border-style:solid;
}